body {
    font-family: "Inter", sans-serif;
    margin: 40px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
  .desktop {
    display: none;
  }
  